<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Demo-20180720144607;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Demo-20180720144607.mdf" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="SOALog.Appenders" value="File, DB"/>
    <add key="SOALog.File.File" value="aa.log"/>
    <add key="SOALog.DB.Table" value="SOALogTable"/>
    <add key="SOALog.DB.Columns" value="platform, action, exception, create_date, thread_id"/>
    <add key="SOALog.DB.ConnectionName" value="DefaultConnection"/>
  </appSettings>
  
</configuration>